<link rel="stylesheet" href="/styles/navbar.css">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">


<!-- 

<nav>
    <% if(user) { %>
    <a href="/users/<%= user._id %>/applications">Your index</a>
    <a href="/auth/sign-out">Sign Out</a>
    <p>Welcome <%=user.username%></p>
    <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>
  


<h1>N S H</h1>
<hr> -->



<nav>
    <% if(user) { %>
    <a href="/users/<%= user._id %>/applications">Your index</a>
    <a href="/auth/sign-out">Sign Out</a>
    <!-- <p>Welcome <%=user.username%></p> -->

    <% } else { %>
    <a href="/auth/sign-in">Sign In</a>
    <a href="/auth/sign-up">Sign Up</a>
    <% } %>
</nav>

  
<div class="header">

    <h1 class="logo">N S H</h1>

    <% if(user) { %>
    <p>Welcome <%=user.username%></p>
    <p class="wel">Welcome <%= user.username%></p>
    <% } else { %>
    <% } %>


</div>
<hr>






<footer>
    <p>All rights reserved © NSH</p>
    <p>Contact: info@nsh.com</p>
</footer>