<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=edit" />
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Cormorant+Infant:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
  <title>Editing <%= request.title %> request</title>
  <link rel="stylesheet" href="/styles/index.css">

</head>
<body>
  <style>
    td:nth-child(odd){
    background-color: #0E2841;
    color: white;
    width: 50%;
    text-align: center;
}
h2{
  font-family: "Cormorant Infant", serif;
}
  </style>

  <%- include('../partials/_navbar.ejs') %>


  <h2 style="text-align: center;">Edit <%= request.title %> request</h2>
  <br>
  <br>
<form action="/users/<%= user._id %>/applications/<%= request._id %>?_method=PUT" method="POST">
<table border="2" style="margin-left: auto; margin-right: auto;">
  <tr>

    <td><label for="title">Item Title </label></td>
    <td><input type="text" name="title" id="title" value="<%= request.title %>"></td>
  </tr>

  <tr>
    <td><label for="description">Item Description: </label></td>
    <td><input type="text" name="description" id="description" value="<%= request.description %>"/></td>
  </tr>

  <tr>
    <td><label for="quantity">Item Quantity</label></td>
    <td><input name="quantity" id="quantity" value="<%= request.quantity %>"/></td>
  </tr>

  <tr>
    
    <td><label for="deliverydate">Delivery Date: </label></td>
    <td><input type="date" name="deliverydate" id="deliverydate" value="<%= request.deliverydate.toISOString().split('T')[0] %>"/></td>
  </tr>

  <tr>
    <td><label for="priority">Priority:</label></td>
    <td><select id="priority" name="priority" >
      <option value="high"  <%= request.priority === "high" ? "selected" : "" %>>high</option>
      <option value="medium"<%= request.priority === "medium" ? "selected" : "" %>>medium</option>
      <option value="low" <%= request.priority === "low" ? "selected" : "" %>>low</option>
    </select></td>
  </tr>

  <tr>
    <td>Created By</td>
    <td><%= currentUser.username %></td>
  </tr>

  <tr>
    <td>Created Date</td>
    <td><%= request.createdDate.toISOString().split('T')[0] %></td>
  </tr>

  <tr>
    <td>Approval Status</td>
    <td><%=request.status%></td>

  </tr>


</table>
<br/>
<div class="center">
  <button type="submit" class="signBt" style="margin-right: 10px;" >Edit</button>
</form>

<br>
<br>

<form action="/users/<%=user._id%>/applications/<%=request._id%>?_method=DELETE" method="POST"><button class="signBt" style="margin-right: 10px;">Delete</button></form> 
</div>

</body>
</html>
