<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=edit" />
  <title>Diplay <%= request.title %> request</title>
</head>
<body>
  <%- include('../partials/_navbar.ejs') %>

<h1 style="color: blue;">Purchase View</h1>

  <h2>Display <%= request.title %> request</h2>
  
<form action="/users/<%= user._id %>/applications/<%= request._id %>/purchase/view?_method=PUT" method="POST">

  <label for="approvalStatus"></label>
  <select id="approvalStatus" name="approvalStatus">
    <option value="approved by purchasing">approved by purchasing</option>
    <option value="rejected by purchasing">rejected by purchasing</option>
  </select>

<table border="2">
  <tr>
    <td><label for="title">Item Title </label></td>
    <td><%= request.title %></td>
  </tr>

  <tr>
    <td><label for="description">Item Description: </label></td>
    <td><%= request.description %></td>
  </tr>

  <tr>
    <td><label for="quantity">Item Quantity</label></td>
    <td><%= request.quantity %></td>
  </tr>

  <tr>
    <td><label for="deliverydate">Delivery Date: </label></td>
    <td><%= request.deliverydate %></td>
  </tr>

  <tr>
    <td><label for="priority">Priority:</label></td>
    <td><%= request.priority%></td>
  </tr>

  <tr>
    <td>Created By</td>
    <td><%= currentUser.username %></td>
  </tr>

  <tr>
    <td>Created Date</td>
    <td><%= request.createdDate %></td>
  </tr>

  <tr>
    <td>Approval Status</td>
    <td><%=request.approvalStatus%></td>
  </tr>
  <tr>
    <td colspan="2" style="text-align: center;"><button type="submit">Edit</button></td>
  </tr>
</table>
</form>
<br>
<br>

<form action="/users/<%=user._id%>/applications/<%=request._id%>?_method=DELETE" method="POST"><button><i class="material-icons" style="color: black;">delete</i></button></form> 

</body>
</html>
