<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=edit" />
    <title>Track Requests</title>
</head>
<body>
    <%- include('../partials/_navbar.ejs') %>

    <h2>Track Purchase Requests</h2>
<!-- 
    <% requests.forEach((request)=>{%>
      <a href="/users/<%=user._id%>/applications/<%=request._id%>"> <li><%=request.title%> and <%= request.description%></li></a>
     
    <%})%> -->




    <table border="3">
        <tr>
            <td>#</td>
            <td>Item Title</td>
            <td>Item Description</td>
            <td>Item Quantity</td>
            <td>Approval Status</td>
            <td>Action</td>
        </tr>

            <% let counter = 1 %>
            <% requests.forEach((request)=>{ %>
        <tr>
            <td>
                <a href="/users/<%=user._id%>/applications/<%= request._id %>/purchase/view"><%= counter++ %></a>
              
            </td>
            <td><a href="/users/<%= user._id %>/applications/<%= request._id %>"><%= request.title %></a></td>
            <td><%= request.description %></td>
            <td><%= request.quantity %></td>
            <td><%= request.approvalStatus %></td>
            <td>
                <form action="/users/<%=user._id%>/applications/<%=request._id%>?_method=DELETE" method="POST"><button><i class="material-icons" style="color: black;">delete</i></button></form> 

                <button><a href="/users/<%= user._id %>/applications/<%= request._id %>/edit"><i class="material-icons" style="color: black;">edit</i></a></button>
            

            </td>
        </tr>
            <% }) %>
        
    </table>
</body>
</html>
