<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Material+Symbols+Outlined:opsz,wght,FILL,GRAD@20..48,100..700,0..1,-50..200&icon_names=edit" />
    <link rel="stylesheet" href="/styles/index.css">

    <title>Track Requests</title>

</head>
<body>
    <%- include('../partials/_navbar.ejs') %>


    <h2 style="text-align: center;">Track Purchase Requests</h2>
<!-- 
    <% requests.forEach((request)=>{%>
      <a href="/users/<%=user._id%>/applications/<%=request._id%>"> <li><%=request.title%> and <%= request.description%></li></a>
     
    <%})%> -->


    <table border="3" id="table">
        <tr id="firstRow">
            <td>#</td>
            <td>Item Title</td>
            <td>Item Description</td>
            <td>Item Quantity</td>
            <td>Approval Status</td>
            <td>Action</td>
        </tr>

            <% let counter = 1 %>
            <% requests.forEach((request)=>{ %>
        <tr>

            <td><%= counter++ %></td>
            <td><a href="/users/<%= user._id %>/applications/<%= request._id %>" style="color: #0E2841; text-decoration: underline;"><%= request.title %></a></td>
            <td><%= request.description %></td>
            <td><%= request.quantity %></td>
            <td><%= request.status %></td>

            <td>
              <div class="center">

                <form action="/users/<%= user._id %>/applications/<%= request._id %>?_method=DELETE" method="POST">
                    <% if (!['Approve by Manager', 'Reject by Manager', 'Approve by Purchase', 'Completed by purchase', 'Reject by purchase'].includes(request.status)) { %>
                      <button style="margin-right: 10px;"><i class="material-icons" style="color: #0E2841;">delete</i></button>
                    <% } else { %>
                      <button style="margin-right: 10px;" disabled><i class="material-icons" style="color: gray;">delete</i></button>
                    <% } %>
                  </form>
                  <% if (!['Approve by Manager', 'Reject by Manager', 'Approve by Purchase', 'Completed by purchase', 'Reject by purchase'].includes(request.status)) { %>
                      <button>
                        <a href="/users/<%= user._id %>/applications/<%= request._id %>/edit">
                          <i class="material-icons" style="color: #0E2841;">edit</i>
                        </a>
                      </button>
  
                  <% } else { %>
                    <button disabled>
                      <i class="material-icons" style="color: gray;">edit</i>
                    </button>
                  </div>

                  <% } %>
            

            </td>
        </tr>
            <% }) %>
        
    </table>
</body>

</html>
